/*RESET*/
*{margin:0; padding:0;}
body{background:url(imagens/painel_body.jpg) repeat-x #f4f4f4;}
#box{width:1024px; margin:0 auto;}
/*HEADER*/
#header{height:110px; border-bottom:5px solid #930; margin-bottom:5px;}
#header_logo{float:left; margin:30px 0 0 0;}
#header_banner{width:728px; height:90px; padding:3px; border:1px solid #CCC; float:right; margin-top:5px;}

#local{width:1024px; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-variant:small-caps; float:left; padding:5px 0;}
#local .caminho{float:left;}
#local .welcome{float:right;}

/*CORPO*/
#content{width:1024px; margin-top:5px;}
#content_menu{width:195px; background:#fff; border:1px solid #CCC; margin:0 5px 0 0; float:left; padding:5px;}
#content_menu ul{list-style:none; margin:0 0 5px 0; padding:0; float:left;}
#content_menu ul li{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; float:left;}
#content_menu ul li a{text-decoration:none; color:#333; float:left; width:195px; border-bottom:1px solid #CCC; padding:3px 0;}
#content_menu ul li a:hover{background:#E5E5E5;}
#content_menu ul .titulo{padding:3px; background:#f4f4f4; float:left; width:189px; color:#930; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; margin:0 0 5px 0;}
						
#content_conteudo{width:800px; background:#fff; border:1px solid #CCC; float:right; padding:5px;}
#content_conteudo h1{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#930;}
#content_conteudo h2{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666;}
#content_conteudo h3{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#999;}
#content_conteudo .ok{padding:5px; background:#B3FFD9; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
                      color:333; border:1px solid #333;}
#content_conteudo .no{padding:5px; background:#FDD; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
                      color:#333; border:1px solid #333;}
#content_conteudo .carregando{padding:5px; background:#CEEFFF; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
                      color:#333; border:1px solid #333; text-align:center;}
#content_conteudo .aviso{padding:2px; background:#FDD; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
                      color:#333; border:1px solid #333;}
#content_conteudo .error{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#900;}

#content_conteudo p{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; margin:10px 0;}


#content_conteudo form{background:#f4f4f4; padding:5px;}
#content_conteudo fieldset{border:none; padding:5px;}
#content_conteudo legend{font:15px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#069;}
#content_conteudo label{display:block; margin:5px 0;}
#content_conteudo span{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; display:block;}
#content_conteudo input{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; padding:3px;}
#content_conteudo textarea{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; padding:3px; display:block;}
#content_conteudo select{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000; padding:5px; width:auto; border:1px solid #999;}
#content_conteudo .btn{padding:0; margin:0;}
#content_conteudo a{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#069;}
#content_conteudo a:hover{color:#003;}

#content_conteudo .inbox a{font:12px Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; text-decoration:none; color:#005789;}
#content_conteudo .inbox a:hover{color:#0CF;}

/*Pagina Admin*/
#content_conteudo .sub{padding:5px; background:#B5B5B5; float:left; width:789px; font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; margin-bottom:10px;}
#content_conteudo .tbdados{border:1px solid #999; border-bottom:0; border-right:0; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#content_conteudo .tbdados tr td{padding:5px; border:1px solid #999; border-top:0; border-left:0;}
#content_conteudo .tbdados tr:hover td{background:#DFF4FF;}
#content_conteudo .tbdados tr td a{font:12px Arial, Helvetica, sans-serif; color:#069; text-decoration:none;}
#content_conteudo .tbdados tr td a:hover{text-decoration:underline;}
#content_conteudo .tbdados .ses td{background:#ccc; font-weight:bold;}
#content_conteudo .tbdados .ses:hover td{background:#ccc;}
#content_conteudo .tbdados tr .nb{border-right:0;}

/*RODAPE*/
#footer{width:1012px; padding:5px; background:#fff; border:1px solid #CCC; float:left; margin-top:5px;
       text-align:center; font:15px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666;}